<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search form</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/modules.css">
</head>
<body>
  <main>
    <form action="/show" method="post">
      <label for="search">What would you like to see?</label>
      <input type="text" id="search" name="search_query">
      <p>Will you be searching by title or author?</p>
      <input type="radio" id="title" name="choice" value="title">
      <label for="title">Title</label>
      <input type="radio" id="author" name="choice" value="author">
      <label for="author">Author</label>
      <input type="submit">
    </form>
  </main>
</body>
</html>