<!DOCTYPE html>
<html lang="en">

  <!-- HEAD (brought in from head.ejs partial) -->
<head>
  <!-- TITLE -->
  <title>Search form</title>
  <!-- HEAD PARTIAL  -->
  <%- include('../../layout/head') %>
  <!-- SEARCHES/NEW SPECIFIC CSS -->
  <link rel="stylesheet" href="styles/modules/new.css">
</head>

<body>
  <!-- HEADER (brought in from header.ejs partial). -->
  <header>
    <%- include('../../layout/header') %>
  </header>

  <!-- MAIN -->
  <main>

    <!-- TITLE -->
    <div><p>Search by Title or Author</p></div>

    <!-- SEARCH FORM -->
    <form action="/show" method="post">
      <input type="text" id="search" name="search_query" placeholder="Enter a title or author">

      <p id="authMain">
        <label for="author" id="authorL">Author</label>
        <input type="radio" id="author" name="choice" value="author">
      </p>

      <p id="titleMain">
        <label for="title" id="titleL">Title</label>
        <input type="radio" id="title" name="choice" value="title">
      </p>

      <input type="submit" value="Search the Google Books API" id="submit">
    </form>
  </main>

  <!-- FOOTER (brought in from footer.ejs partial). -->
  <footer>
    <ul id="new">
      <%- include('../../layout/footer') %>
    </ul>
  </footer>
</body>
</html>