/* ----------header---------- */
header p {
  grid-area: 2/2/2/3;
  color: white;
  font-size: 25px;
  line-height: 45px;
}

nav {
  grid-area: 2/4/3/5
}

nav img {
  width: 50%;
}

/* ----------main---------- */

/* new.ejs */
div {
  grid-area: 1/1/2/4;
}

div p {
  background-color: rgb(75, 75, 75);
  font-size: 20px;
  color: white;
  line-height: 200%;
}

/* form lines (inputs and Ps) */
#search {
  height: 80px;
  width: 400px;
  border-radius: 5px;
  font-size: 20px;
  margin: 20px 20px 0px 20px;
}

#authMain {
  background-color: white;
  height: 80px;
  margin: 20px 20px 0px 20px;
  display: grid;
  grid-template-columns: 20% 10% 70%;
  grid-template-rows: 35% 30% 35%;
  border-radius: 5px;
}

#titleMain {
  background-color: white;
  height: 80px;
  margin: 20px 20px 0px 20px;
  display: grid;
  grid-template-columns: 20% 10% 70%;
  grid-template-rows: 35% 30% 35%;
  border-radius: 5px;
}

#submit {
  height: 80px;
  width: 442px;
  margin: 20px 20px 20px 20px;
  font-size: 20px;
  border-radius: 5px;
}

/* lower nav */
#new {
  background-color: black;
  grid-area: 5/1/6/4;
  height: 80px;
  display: grid;
  grid-template-columns: 20% 5% 20% 5% 20% 5% 20%;
}

#new1 {
  grid-area: 1/1/2/2;
}

#new2 {
  grid-area: 1/3/2/4;
}

#new3 {
  grid-area: 1/5/2/6;
}

#new4 {
  grid-area: 1/7/2/8;
}

.img {
  width: 50%;
  margin-top: 15%;
}

/* index.ejs */
/* content box */
#count {
  grid-area: 2/2/3/3;
}

#ul {
  width: 100%;
  height: 480px;
  overflow: scroll;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rbga(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(211, 211, 211, 0.692);
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* actual content */
li p {
  line-height: 18px;
  margin: 5px;
}

#searchShowButton {
  height: 20px;
}