<!DOCTYPE html>
<html lang="en">
  <head>
    <title>book_app</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
  </head>

  <body>
    <header>
      <h1>We're running!</h1>
    </header>

    <main>
      <p>main</p>
    </main>

    <footer>
      <p>footer</p>
    </footer>
  </body>
</html>