/* ----------header---------- */
header {
  width: 100%;
  height: 100px;
  background-color: black;
  display: grid;
  grid-template-columns: 7.5% 1fr 30% 20%;
  grid-template-rows: 25% 50% 25%;
}

/* ----------main---------- */
main {
  /* height: 580px; */
  width:100%;
  background-color: rgb(124, 124, 124);
}



/* new.ejs */
form {
  grid-area: 3/2/4/3;
}

/* labels and inputs */
label {
  color: black;
}

#authorL, #titleL {
  grid-area: 2/1/3/2;
  line-height: 120%;
}

#author, #title {
  grid-area: 2/2/3/3;
}

/* index.ejs */

.li {
  background-color: rgb(206, 202, 202);
  box-shadow: 0px 0px 3px rgb(173, 172, 172);
  border-radius: 3px;
  color: rgb(61, 60, 60);
  width: 300px;
  padding: 10px;
  margin: 30px;
}