<li id="new1"><img src="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" alt="filler-image" class="img"></li>
<li id="new2"><img src="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" alt="filler-image" class="img"></li>
<li id="new3"><img src="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" alt="filler-image" class="img"></li>
<li id="new4"><img src="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" alt="filler-image" class="img"></li>
